anaconda==0.0.1.1
appdirs==1.4.4
asgiref==3.2.10
astroid==2.4.2
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.2
django-heroku==0.3.1
filelock==3.0.12
gunicorn==20.0.4
heroku==0.1.4
idna==2.10
isort==5.6.3
joblib==0.17.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
nltk==3.5
panda==0.3.1
psycopg2 @ https://download.lfd.uci.edu/pythonlibs/x2tqcw5k/psycopg2-2.8.6-cp39-cp39-win_amd64.whl
PyJWT==1.7.1
pylint==2.6.0
pypl==40.10
python-dateutil==1.5
python-decouple==3.3
pytz==2020.1
regex==2020.10.15
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
svgwrite==1.4
tk==0.1.0
toml==0.10.1
tqdm==4.50.2
twilio==6.46.0
urllib3==1.25.10
virtualenv==20.0.35
virtualenvwrapper-win==1.2.6
whitenoise==3.3.1
wrapt==1.12.1
